# Session 2

In [ ]:
hello = 'hello2'   # String literals can use single quotes
world = "world"   # or double quotes; it does not matter
print(hello , len(hello)) # len is  length   طول

In [1]:
print('student mahmoud has 28 years')

student mahmoud has 28 years

In [3]:
name = 'Mahmoud'
age = 28

info = 'Student {} has {} years'.format(name,age)  # {} curly bracket
print(info)

Student Mahmoud has 28 years

In [6]:
name = input()
age = int(input())

info = 'Student {} has {} years'.format(name,age)
print(info)

Student shokri has 35 years

In [7]:
x1 = int(input('Enter your first number'))
x2 = int(input('Enter your second number'))

print('sum = ', x1+x2 )

sum =  14

In [8]:
name = 'Mahmoud'
age = 28

info = 'Student {} has {} years'.format(name,age)
print(info)

Student Mahmoud has 28 years

In [10]:
print (f'{name} has {age} years')   #string formatting

Mahmoud has 28 years

task 

2 variabels string , numbers

using string formatting

String objects have a bunch of useful methods; for example:

In [11]:
s = "hello"

In [12]:
print(s.capitalize())  # Capitalize a string

Hello

In [13]:
print(s.upper())       # Convert a string to uppercase; prints "HELLO"

HELLO

()  single parenthesis

In [14]:
print(s.replace('l', '(ell)'))  # Replace all instances of one substring with another

he(ell)(ell)o

In [16]:
m = '  world good '
print(m.strip())
print('  world '.strip())  # Strip leading and trailing whitespace

world good
world

In [58]:
print('  world ')

  world

In [61]:
# 'Mahmoud Adel'

' Mahmoud Adel '.strip()

'Mahmoud Adel'

In [19]:
# joining strings into one:
"_".join(['apple', 'banana', 'apple']) # [] square bracket

'apple_banana_apple'

You can find a list of all string methods in the [documentation](https://docs.python.org/3.7/library/stdtypes.html#string-methods).

### Containers

Python includes several built-in container types: lists, dictionaries, sets, and tuples.

In [21]:
X = 55
y = True
z = 'Ahmed'

m = 5 , 'Mahmoud' # wrong

#### Lists

A list is the Python equivalent of an array, but is resizeable and can contain elements of different types:

In [22]:
xs = [3, 1, 2, 5]   # Create a list  [ ] square bracket
print(xs)

[3, 1, 2, 5]

In [69]:
# xs1 = [5 , 2.5 , 'ahmed']
# xs1

In [70]:
xs

[3, 1, 2, 5]

index 

values [3, 1, 2, 5]

index  0   1   2  3

index  -4  -3  -2 -1

In [71]:
xs[0]

3

In [72]:
xs[3]

5

In [73]:
xs[-1]

5

In [74]:

print(xs[-1])     # Negative indices count from the end of the list;

5

In [75]:
xs

[3, 1, 2, 5]

In [23]:
xs[:-1]   # Exclusive  : index    :  colon

[3, 1, 2]

In [77]:
xs

[3, 1, 2, 5]

In [78]:
xs[:2]

[3, 1]

In [24]:
xs[:3]

[3, 1, 2]

In [25]:
xs[:]

[3, 1, 2, 5]

In [26]:
xs[1:3] #  3 exclusive  print indexes 1 , 2

[1, 2]

Task 

Create list with 4 diff values

print last value using 2 ways

print second and third values

In [28]:
xs = [3 , 'Ai', 'DS', True]
xs

[3, 'Ai', 'DS', True]

In [30]:
xs[2] = 'ML'    # Lists can contain elements of different types
print(xs)

[3, 'Ai', 'ML', True]

In [97]:
xs[:2]

[3, 'Ai']

In [98]:
xs[:2] = [5,'Ui']
print(xs)

[5, 'Ui', 'ML', True]

In [99]:
xs[0,3]

TypeError: list indices must be integers or slices, not tuple

In [32]:
xs.append('bar')   # Add a new element to the end of the list
print(xs)

[3, 'Ai', 'ML', True, 'bar', 'bar']

In [37]:
xs.pop()

True

In [38]:
xs

[3, 'Ai', 'ML']

In [101]:
m = xs.pop()     # Remove and return the last element of the list
print(m, xs)

bar [5, 'Ui', 'ML', True]

In [88]:
print(m)

bar

In [105]:
print(xs)

[5, 'Ui', 'ML', True]

Task 

use same list before

1- remove last index

2- add two values to list 

3- finaaly print last value using string formating and dynamic variable

In [109]:
xs

[3, 'Ai', 'DS', True]

In [110]:
xs.remove('ML')

ValueError: list.remove(x): x not in list

In [111]:
xs.remove('DS')

In [112]:
xs

[3, 'Ai', True]

## Reference & Credits:

The tutorial above is a combination of the code/instructions created by 

Eng/ Mahmoud Khorshed