# Session 4

#### Dictionaries

A dictionary stores (key, value) pairs, similar to a `Map` in Java or an object in Javascript. You can use it like this:

In [5]:
dictt = {'Ahmed': 25 ,  #  key  : value   {} curly bracket 
         'Sohaila':'22'}
dictt

{'Ahmed': 25, 'Sohaila': '22'}

KEy and value could save any data type

3 Questions about Conatiners: 
    
    1- structure
    
    2- access
    
    3- edit

In [6]:
d = {'cat': 'cute', 'dog': 'furry'}  # Create a new dictionary with some data
d

{'cat': 'cute', 'dog': 'furry'}

In [7]:
print(d['cat'])       # Get an entry from a dictionary; prints "cute"

cute

In [9]:
print('catt' in d)     # Check if a dictionary has a given key; prints "True"

False

In [10]:
d['fish'] = 'wet'    # Set an entry in a dictionary
print(d['fish'])      # Prints "wet"
print (d)

wet
{'cat': 'cute', 'dog': 'furry', 'fish': 'wet'}

In [11]:
print(d['monkey'])  # KeyError: 'monkey' not a key of d

KeyError: 'monkey'

In [12]:
print('monkey' in d)  # KeyError: 'monkey' not a key of d

False

task 

create dictionary 2 keys  name and salaries

check if specified key not found ) another name)

add this key in dict

In [15]:
d

{'cat': 'cute', 'dog': 'furry', 'fish': 'wet'}

In [14]:
'giraph' not in d

True

Check validation

In [17]:
if 'giraph' not in d:
    d['giraph'] = 'long'
else:
    print(d['giraph'])
    
d

long

{'cat': 'cute', 'dog': 'furry', 'fish': 'wet', 'giraph': 'long'}

In [18]:
d['Monkey']

KeyError: 'Monkey'

In [20]:
# print(d.get('fish', 'Not found'))    # Get an element with a default; prints "wet"
print(d.get('monkey', 'Not found'))  # Get an element with a default; prints "N/A"

Not found

In [21]:
list2 = [5,10]
list2

[5, 10]

In [22]:
del(list2)

In [23]:
list2

NameError: name 'list2' is not defined

In [24]:
d

{'cat': 'cute', 'dog': 'furry', 'fish': 'wet', 'giraph': 'long'}

In [25]:
del (d['fish'])        # Remove an element from a dictionary
print(d.get('fish', 'Not found')) # "fish" is no longer a key; prints "Not found"

Not found

In [ ]:
d

You can find all you need to know about dictionaries in the [documentation](https://docs.python.org/2/library/stdtypes.html#dict).

It is easy to iterate over the keys in a dictionary:

In [26]:
d = {'person': 2, 'cat': 4, 'spider': 8}

for key, legs in d.items(): # items return  key and value
    print(f'A {key} has {legs} legs')

A person has 2 legs
A cat has 4 legs
A spider has 8 legs

Dictionary comprehensions: These are similar to list comprehensions, but allow you to easily construct dictionaries. For example:

Dictionary comprehensions from list

In [27]:
# nums = [0, 1, 2, 3, 4]

even_num_to_square = { x : x ** 2 for x in range(10) if x % 2 == 0 } # operation , for loop , condition
print(even_num_to_square)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

Dictionary comprehensions from dict

In [28]:
nums = {'ahmed':20,'moh':15,'alaa':25}

even_num_to_square = { key : value * 2 for key,value in nums.items()  } # x key  ,  y value
print(even_num_to_square)

{'ahmed': 40, 'moh': 30, 'alaa': 50}

task 

create dicitionary  comhernsion from list

list from 5 to 99 

choose odd numbers

key , value divide by 3

In [29]:
dic1 = { x : x/3  for x in range(5,99)   if x%2 != 0 } # operation ,  iteretor + for loop  , condition

In [30]:
dic1

{5: 1.6666666666666667,
 7: 2.3333333333333335,
 9: 3.0,
 11: 3.6666666666666665,
 13: 4.333333333333333,
 15: 5.0,
 17: 5.666666666666667,
 19: 6.333333333333333,
 21: 7.0,
 23: 7.666666666666667,
 25: 8.333333333333334,
 27: 9.0,
 29: 9.666666666666666,
 31: 10.333333333333334,
 33: 11.0,
 35: 11.666666666666666,
 37: 12.333333333333334,
 39: 13.0,
 41: 13.666666666666666,
 43: 14.333333333333334,
 45: 15.0,
 47: 15.666666666666666,
 49: 16.333333333333332,
 51: 17.0,
 53: 17.666666666666668,
 55: 18.333333333333332,
 57: 19.0,
 59: 19.666666666666668,
 61: 20.333333333333332,
 63: 21.0,
 65: 21.666666666666668,
 67: 22.333333333333332,
 69: 23.0,
 71: 23.666666666666668,
 73: 24.333333333333332,
 75: 25.0,
 77: 25.666666666666668,
 79: 26.333333333333332,
 81: 27.0,
 83: 27.666666666666668,
 85: 28.333333333333332,
 87: 29.0,
 89: 29.666666666666668,
 91: 30.333333333333332,
 93: 31.0,
 95: 31.666666666666668,
 97: 32.333333333333336}

#### Sets

A set is an distinct elements. As a simple example, consider the following:

In [31]:
list1 = ['ahmed','mahm', 'mahm']
list1

['ahmed', 'mahm', 'mahm']

In [32]:
len(list1)

3

In [33]:
set1 = {'ahmed','mahm', 'mahm'}
set1

{'ahmed', 'mahm'}

In [34]:
set2 = {654,235,654}
set2

{235, 654}

In [ ]:
len(set1)

2

In [35]:
animals = {'cat', 'dog'}

print('cat' in animals)   # Check if an element is in a set; prints "True"
print('fish' in animals)  # prints "False"

True
False

In [ ]:
animals

{'cat', 'dog'}

In [ ]:
animals.add('cat')      # Add an element to a set

In [ ]:
animals

{'cat', 'dog'}

In [ ]:
animals.add('fish')      # Add an element to a set
print('fish' in animals)
print(len(animals))       # Number of elements in a set;

True
3

In [ ]:
animals

{'cat', 'dog', 'fish'}

In [ ]:
animals.add('cat')       # Adding an element that is already in the set does nothing
print(len(animals))
       
animals.remove('cat')    # Remove an element from a set
print(len(animals))

3
2

_Loops_: Iterating over a set has the same syntax as iterating over a list; however since sets are unordered, you cannot make assumptions about the order in which you visit the elements of the set:

In [36]:
animals = {'cat', 'dog', 'fish'}
for idx, animal in enumerate(animals):
    print(f'{idx + 1} {animal}')

1 dog
2 fish
3 cat

Set comprehensions: Like lists and dictionaries, we can easily construct sets using set comprehensions:

In [ ]:
int(1.4142135623730951)

1

In [38]:
from math import sqrt

In [ ]:
[(sqrt(x)) for x in range(10)]

[0.0,
 1.0,
 1.4142135623730951,
 1.7320508075688772,
 2.0,
 2.23606797749979,
 2.449489742783178,
 2.6457513110645907,
 2.8284271247461903,
 3.0]

In [ ]:
set1 = { (sqrt(x)) for x in range(26)  }
print(set1)

{0.0, 1.0, 2.0, 1.7320508075688772, 1.4142135623730951, 2.23606797749979, 2.449489742783178, 2.6457513110645907, 2.8284271247461903, 3.0, 3.1622776601683795, 3.3166247903554, 3.4641016151377544, 4.0, 5.0, 4.47213595499958, 4.795831523312719, 4.898979485566356, 3.7416573867739413, 3.872983346207417, 4.123105625617661, 4.242640687119285, 4.358898943540674, 4.58257569495584, 4.69041575982343, 3.605551275463989}

In [ ]:
set1 = { x*2 for x in range(26)  }

Task 

find square root for real numbers in range to 26

In [40]:
set1 = { int(sqrt(x)) for x in range(26)  }
print(set1)

{0, 1, 2, 3, 4, 5}

#### Tuples

A tuple is an (immutable) ordered list of values. A tuple is in many ways similar to a list; one of the most important differences is that tuples can be used as keys in dictionaries and as elements of sets, while lists cannot. Here is a trivial example:

In [ ]:
d = (1 ,4 ,'ML') # ()  single parenthesis
d

(1, 4, 'ML')

In [ ]:
d[2]

'ML'

In [ ]:
d[2] = 5    #assignment

TypeError: 'tuple' object does not support item assignment

In [41]:
d = {x : (x, x * 2) for x in range(10)}  
# Create a dictionary with tuple keys
d

{0: (0, 0),
 1: (1, 2),
 2: (2, 4),
 3: (3, 6),
 4: (4, 8),
 5: (5, 10),
 6: (6, 12),
 7: (7, 14),
 8: (8, 16),
 9: (9, 18)}

In [42]:
d = {(x, x * 2): x for x in range(10)}  # Create a dictionary with tuple keys

d

{(0, 0): 0,
 (1, 2): 1,
 (2, 4): 2,
 (3, 6): 3,
 (4, 8): 4,
 (5, 10): 5,
 (6, 12): 6,
 (7, 14): 7,
 (8, 16): 8,
 (9, 18): 9}

In [ ]:
# Access Key to get Value from dictionary
# d[2]

task 

create dictionary comprehension  and contains tuple 

key  :  value

value of list  : tuple (value * 2 , value +2)

task 2 

create 3 cities with cooredintaes in dictioanry

In [43]:
d = {x : (x*2, x + 2) for x in range(10)}  
# Create a dictionary with tuple keys
d

{0: (0, 2),
 1: (2, 3),
 2: (4, 4),
 3: (6, 5),
 4: (8, 6),
 5: (10, 7),
 6: (12, 8),
 7: (14, 9),
 8: (16, 10),
 9: (18, 11)}

In [ ]:
dicc = {'Alex':(5,3),
        'CA':(4,8)}
dicc

{'Alex': (5, 3), 'CA': (4, 8)}

In [47]:
ls = [5,2,3]
ls2= [(6,5),8,9]

for x,i in ls,ls2:
    print(i)

ValueError: too many values to unpack (expected 2)

In [48]:
for i,x in zip(ls,ls2) :
    print(i,x)

5 (6, 5)
2 8
3 9

task:

create two list

3 first name

3 last name

by zip and for loop

print every complete name together

In [51]:
lis1 = ['Mahmoud','Sara','Ayman']
lis2 = ['Adel','hamada','mohamed']

for i,y in zip(lis1,lis2):
    print(i ,y)
    z=i+y
    print(z)

Mahmoud Adel
MahmoudAdel
Sara hamada
Sarahamada
Ayman mohamed
Aymanmohamed