# Session 4

#### Dictionaries

A dictionary stores (key, value) pairs, similar to a `Map` in Java or an object in Javascript. You can use it like this:

In [ ]:
dictt = {'Ahmed': 25 ,  #  key  : value  
         'Sohaila':'22'}
dictt

{'Ahmed': 25, 'Sohaila': '22'}

In [ ]:
d = {'cat': 'cute', 'dog': 'furry'}  # Create a new dictionary with some data
d

{'cat': 'cute', 'dog': 'furry'}

In [ ]:
print(d['cat'])       # Get an entry from a dictionary; prints "cute"
# print('catt' in d)     # Check if a dictionary has a given key; prints "True"

cute

In [ ]:
d['fish'] = 'wet'    # Set an entry in a dictionary
print(d['fish'])      # Prints "wet"
print (d)

wet
{'cat': 'cute', 'dog': 'furry', 'fish': 'wet'}

In [ ]:
# print(d['monkey'])  # KeyError: 'monkey' not a key of d

In [ ]:
print('monkey' in d)  # KeyError: 'monkey' not a key of d

False

task 

create dictionary 2 keys  name and salaries

check if specified key not found 

add this key in dict

In [ ]:
d

{'cat': 'cute', 'dog': 'furry', 'fish': 'wet'}

In [ ]:
'giraph' not in d

True

Check validation

In [ ]:
if 'giraph' not in d:
    d['giraph'] = 'cutee'
    
print(d)

{'cat': 'cute', 'dog': 'furry', 'fish': 'wet', 'giraph': 'cutee'}

In [ ]:
d['Monkey']

KeyError: 'Monkey'

In [ ]:
# print(d.get('fish', 'another default'))    # Get an element with a default; prints "wet"
print(d.get('monkey', 'Not found'))  # Get an element with a default; prints "N/A"

Not found

In [ ]:
dict2 = [5,10]
dict2

[5, 10]

In [ ]:
del(dict2)

In [ ]:
dict2

NameError: name 'dict2' is not defined

In [ ]:
d

{'cat': 'cute', 'dog': 'furry', 'fish': 'wet', 'giraph': 'cutee'}

In [ ]:
del (d['fish'])        # Remove an element from a dictionary
print(d.get('fish', 'Not found')) # "fish" is no longer a key; prints "Not found"

In [ ]:
d

{'cat': 'cute', 'dog': 'furry', 'giraph': 'cutee'}

You can find all you need to know about dictionaries in the [documentation](https://docs.python.org/2/library/stdtypes.html#dict).

It is easy to iterate over the keys in a dictionary:

In [ ]:
d = {'person': 2, 'cat': 4, 'spider': 8}

for key, legs in d.items(): # items return  key and value
    print(f'A {key} has {legs} legs')

A person has 2 legs
A cat has 4 legs
A spider has 8 legs

Dictionary comprehensions: These are similar to list comprehensions, but allow you to easily construct dictionaries. For example:

In [ ]:
# nums = [0, 1, 2, 3, 4]

even_num_to_square = { x : x ** 2 for x in range(10) if x % 2 == 0 }
print(even_num_to_square)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [ ]:
nums = {'ahmed':20,'moh':15,'aaa':25}

even_num_to_square = { x : y * 2 for x,y in nums.items()  } # x key  ,  y value
print(even_num_to_square)

{'ahmed': 40, 'moh': 30, 'aaa': 50}

task 

create dicitionary  comhernsion from list

list from 5 to 99 

choose odd numbers

key , value divide by 3

In [ ]:
dic1 = { x : x/3  for x in range(5,99)   if x%2 != 0 } # operation ,  iteretor + for loop  , condition

In [ ]:
dic1

{5: 1.6666666666666667,
 7: 2.3333333333333335,
 9: 3.0,
 11: 3.6666666666666665,
 13: 4.333333333333333,
 15: 5.0,
 17: 5.666666666666667,
 19: 6.333333333333333,
 21: 7.0,
 23: 7.666666666666667,
 25: 8.333333333333334,
 27: 9.0,
 29: 9.666666666666666,
 31: 10.333333333333334,
 33: 11.0,
 35: 11.666666666666666,
 37: 12.333333333333334,
 39: 13.0,
 41: 13.666666666666666,
 43: 14.333333333333334,
 45: 15.0,
 47: 15.666666666666666,
 49: 16.333333333333332,
 51: 17.0,
 53: 17.666666666666668,
 55: 18.333333333333332,
 57: 19.0,
 59: 19.666666666666668,
 61: 20.333333333333332,
 63: 21.0,
 65: 21.666666666666668,
 67: 22.333333333333332,
 69: 23.0,
 71: 23.666666666666668,
 73: 24.333333333333332,
 75: 25.0,
 77: 25.666666666666668,
 79: 26.333333333333332,
 81: 27.0,
 83: 27.666666666666668,
 85: 28.333333333333332,
 87: 29.0,
 89: 29.666666666666668,
 91: 30.333333333333332,
 93: 31.0,
 95: 31.666666666666668,
 97: 32.333333333333336}

#### Sets

A set is an distinct elements. As a simple example, consider the following:

In [ ]:
list1 = ['ahmed','mahm', 'mahm']
list1

['ahmed', 'mahm', 'mahm']

In [ ]:
len(list1)

3

In [ ]:
set1 = {'ahmed','mahm', 'mahm'}
set1

{'ahmed', 'mahm'}

In [ ]:
len(set1)

2

In [ ]:
animals = {'cat', 'dog'}

print('cat' in animals)   # Check if an element is in a set; prints "True"
print('fish' in animals)  # prints "False"

True
False

In [ ]:
animals

{'cat', 'dog'}

In [ ]:
animals.add('cat')      # Add an element to a set

In [ ]:
animals

{'cat', 'dog'}

In [ ]:
animals.add('fish')      # Add an element to a set
print('fish' in animals)
print(len(animals))       # Number of elements in a set;

True
3

In [ ]:
animals

{'cat', 'dog', 'fish'}

In [ ]:
animals.add('cat')       # Adding an element that is already in the set does nothing
print(len(animals))
       
animals.remove('cat')    # Remove an element from a set
print(len(animals))

3
2

_Loops_: Iterating over a set has the same syntax as iterating over a list; however since sets are unordered, you cannot make assumptions about the order in which you visit the elements of the set:

In [ ]:
animals = {'cat', 'dog', 'fish'}
for idx, animal in enumerate(animals):
    print(f'{idx + 1} {animal}')

1 dog
2 cat
3 fish

Set comprehensions: Like lists and dictionaries, we can easily construct sets using set comprehensions:

In [ ]:
int(1.4142135623730951)

1

In [ ]:
from math import sqrt

In [ ]:
[(sqrt(x)) for x in range(10)]

[0.0,
 1.0,
 1.4142135623730951,
 1.7320508075688772,
 2.0,
 2.23606797749979,
 2.449489742783178,
 2.6457513110645907,
 2.8284271247461903,
 3.0]

In [ ]:

set1 = { (sqrt(x)) for x in range(26)  }
print(set1)

{0.0, 1.0, 2.0, 1.7320508075688772, 1.4142135623730951, 2.23606797749979, 2.449489742783178, 2.6457513110645907, 2.8284271247461903, 3.0, 3.1622776601683795, 3.3166247903554, 3.4641016151377544, 4.0, 5.0, 4.47213595499958, 4.795831523312719, 4.898979485566356, 3.7416573867739413, 3.872983346207417, 4.123105625617661, 4.242640687119285, 4.358898943540674, 4.58257569495584, 4.69041575982343, 3.605551275463989}

In [ ]:
set1 = { int(sqrt(x)) for x in range(26)  }
print(set1)

[0, 1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5]

#### Tuples

A tuple is an (immutable) ordered list of values. A tuple is in many ways similar to a list; one of the most important differences is that tuples can be used as keys in dictionaries and as elements of sets, while lists cannot. Here is a trivial example:

In [ ]:
d = (1 ,4 ,'ML')
d

(1, 4, 'ML')

In [ ]:
d[2]

'ML'

In [ ]:
d[2] = 5    #assignment

TypeError: 'tuple' object does not support item assignment

In [ ]:
d = {x : (x, x * 2) for x in range(10)}  # Create a dictionary with tuple keys
d

{0: (0, 0),
 1: (1, 2),
 2: (2, 4),
 3: (3, 6),
 4: (4, 8),
 5: (5, 10),
 6: (6, 12),
 7: (7, 14),
 8: (8, 16),
 9: (9, 18)}

In [ ]:
d = {(x, x * 2): x for x in range(10)}  # Create a dictionary with tuple keys

# t = (5,10)       # Create a tuple
print(d)
# print(type(t))
# print(d[t])       
# print(d[(1, 2)])

{(0, 0): 0, (1, 2): 1, (2, 4): 2, (3, 6): 3, (4, 8): 4, (5, 10): 5, (6, 12): 6, (7, 14): 7, (8, 16): 8, (9, 18): 9}

In [ ]:
# Access Key to get Value from dictionary
# d[2]

create dictionary comprehension  and contains tuple 

key  :  value

value of list  : tuple (value * 2 , value +2)

### Functions

Python functions are defined using the `def` keyword. For example:

In [ ]:
x = 10

y = x * 2
z = y / 5

z

4.0

In [ ]:
x = 15
y = x * 2
z = y / 5
z

6.0

In [ ]:
x = 20
y = x * 2
z = y / 5
z

8.0

In [ ]:
def calc(x):   #def   function_name   inputs
                        # indentation            
    y=x*2
    z= y/5
    print(z)

In [ ]:
calc(x=10)  #call function

4.0

In [ ]:
calc(x=15)  #call function

6.0

In [ ]:
calc(x=20)  #call function

8.0

In [ ]:
def calc(x):  #def   function_name
    y=x*2
    z= y/5
    return (z)

u = calc(10)  #  assigning
u

4.0

Task 

create function takes two input (parameters)

print 

sum 

difference

multi 

save division

In [ ]:
def clc(x1,x2):
    print('Sum ',x1+x2)
    print('Diff ',x1-x2)
    print('Multi ',x1*x2)
    
    return(x1/x2)

In [ ]:
div = clc(x1=10,x2=2)
div

Sum  12
Diff  8
Multi  20

5.0

In [ ]:
div

5.0