# Session 3

#### Sets

A set is an distinct elements. As a simple example, consider the following:

In [1]:
list1 = ['ahmed','mahm', 'mahm']
list1

['ahmed', 'mahm', 'mahm']

In [ ]:
len(list1)

3

In [2]:
set1 = {'ahmed','mahm', 'mahm'}
set1

{'ahmed', 'mahm'}

In [ ]:
len(set1)

2

In [3]:
animals = {'cat', 'dog'}

print('cat' in animals)   # Check if an element is in a set; prints "True"
print('fish' in animals)  # prints "False"

True
False

In [5]:
animals

{'cat', 'dog'}

In [7]:
animals.add('cat')      # Add an element to a set

In [8]:
animals

{'cat', 'dog'}

In [9]:
animals.add('fish')      # Add an element to a set
print('fish' in animals)
print(len(animals))       # Number of elements in a set;

True
3

In [ ]:
animals

{'cat', 'dog', 'fish'}

In [ ]:
animals.add('cat')       # Adding an element that is already in the set does nothing
print(len(animals))
       
animals.remove('cat')    # Remove an element from a set
print(len(animals))

3
2

_Loops_: Iterating over a set has the same syntax as iterating over a list; however since sets are unordered, you cannot make assumptions about the order in which you visit the elements of the set:

In [ ]:
animals = {'cat', 'dog', 'fish'}
for idx, animal in enumerate(animals):
    print(f'{idx + 1} {animal}')

1 dog
2 cat
3 fish

Set comprehensions: Like lists and dictionaries, we can easily construct sets using set comprehensions:

In [ ]:
int(1.4142135623730951)

1

In [11]:
from math import sqrt

In [15]:
[(sqrt(x)) for x in range(10)]

[0.0,
 1.0,
 1.4142135623730951,
 1.7320508075688772,
 2.0,
 2.23606797749979,
 2.449489742783178,
 2.6457513110645907,
 2.8284271247461903,
 3.0]

In [ ]:
set1 = { (sqrt(x)) for x in range(26)  }
print(set1)

{0.0, 1.0, 2.0, 1.7320508075688772, 1.4142135623730951, 2.23606797749979, 2.449489742783178, 2.6457513110645907, 2.8284271247461903, 3.0, 3.1622776601683795, 3.3166247903554, 3.4641016151377544, 4.0, 5.0, 4.47213595499958, 4.795831523312719, 4.898979485566356, 3.7416573867739413, 3.872983346207417, 4.123105625617661, 4.242640687119285, 4.358898943540674, 4.58257569495584, 4.69041575982343, 3.605551275463989}

In [ ]:
set1 = { x*2 for x in range(26)  }

In [12]:
set1 = { int(sqrt(x)) for x in range(26)  }
print(set1)

{0, 1, 2, 3, 4, 5}

#### Tuples

A tuple is an (immutable) ordered list of values. A tuple is in many ways similar to a list; one of the most important differences is that tuples can be used as keys in dictionaries and as elements of sets, while lists cannot. Here is a trivial example:

In [16]:
d = (1 ,4 ,'ML') # ()  single parenthesis
d

(1, 4, 'ML')

In [18]:
d[2]

'ML'

In [19]:
d[2] = 5    #assignment

TypeError: 'tuple' object does not support item assignment

In [22]:
d = {x : (x, x * 2) for x in range(10)}  
# Create a dictionary with tuple keys
d

{0: (0, 0),
 1: (1, 2),
 2: (2, 4),
 3: (3, 6),
 4: (4, 8),
 5: (5, 10),
 6: (6, 12),
 7: (7, 14),
 8: (8, 16),
 9: (9, 18)}

In [24]:
d = {(x, x * 2): x for x in range(10)}  # Create a dictionary with tuple keys

d

{(0, 0): 0,
 (1, 2): 1,
 (2, 4): 2,
 (3, 6): 3,
 (4, 8): 4,
 (5, 10): 5,
 (6, 12): 6,
 (7, 14): 7,
 (8, 16): 8,
 (9, 18): 9}

In [ ]:
# Access Key to get Value from dictionary
# d[2]

task 

create dictionary comprehension  and contains tuple 

key  :  value

value of list  : tuple (value * 2 , value +2)

task 2 

create 3 cities with cooredintaes

In [25]:
dicc = {'Alex':(5,3),
        'CA':(4,8)}
dicc

{'Alex': (5, 3), 'CA': (4, 8)}

In [31]:
ls = [5,2,3]
ls2= [(6,5),8,9]
for i,x in zip(ls,ls2) :
    print(i,x)
    z=(i,x)
    print(z)

5 (6, 5)
(5, (6, 5))
2 8
(2, 8)
3 9
(3, 9)

### Functions

Python functions are defined using the `def` keyword. For example:

In [32]:
x = 10

y = x * 2
z = y / 5

z

4.0

In [33]:
x = 15
y = x * 2
z = y / 5
z

6.0

In [34]:
x = 20
y = x * 2
z = y / 5
z

8.0

In [35]:
def calc(x):   #def   function_name   inputs
                        # indentation            
    y=x*2
    z= y/5
    print(z)

In [36]:
calc(x=10)  # call function

4.0

In [37]:
calc(x=15)  #call function

6.0

In [38]:
calc(x=20)  #call function

8.0

task 

input  > salary

output > salry * 0.4

In [42]:
def bank(sal,per):
    Loan= sal*per
    print(f'the loan is {Loan}')

In [48]:
bank(3000,0.4)

the loan is 1200.0

In [44]:
def calc(x):  #def   function_name
    y=x*2
    z= y/5
    return (z)

u = calc(10)  #  assigning
u

4.0

Task 

create function takes two input (parameters)

print sum ,difference, multi 

save division

In [53]:
def clc(x1,x2):
    print('Sum ',x1+x2)
    print('Diff ',x1-x2)
    print('Multi ',x1*x2)
    
    return(x1/x2)

In [54]:
div = clc(x1=10,x2=2)
div

Sum  12
Diff  8
Multi  20

5.0

In [56]:
a = True
b = True


if a:  #True   
    print(1)
elif a and b:  # and   *
    print(2)
else: # default
    print(3)
    
    
# &  == and
# | == or 
# ~ == not

1

In [ ]:
a = 6

if a>5 :  # comparison 
   print('Yes')

Yes

Task 

create function  name sign

check number positive 

print positve

negative 

print negative

print 0

In [57]:
def sign(x):  # parameter ,  Argument
    if x > 0:
        return 'positive'
    elif x < 0:
        return 'negative'
    else:
        return 'zero'
    

    

for x in [-1, 0, 1]:
    print(sign(x))

negative
zero
positive

We will often define functions to take optional keyword arguments, like this:

In [65]:
def cap(name, upper=True):
    if upper:
        print('HELLO, {}'.format(name.upper()))
    else:
        print('Hello, {}!'.format(name))

cap(name = 'mohamed',upper = False)

Hello, mohamed!

In [66]:
cap(name = 'mohamed')

HELLO, MOHAMED

In [70]:
def sign(y=True,x):  # parameter ,  Argument
    if y:

        if x > 0:
            return 'positive'
        elif x < 0:
            return 'negative'
        else:
            return 'zero'
    else:
        print('y is not true')

    

for x in [-1, 0, 1]:
    print(sign(True,x))

SyntaxError: non-default argument follows default argument (4033556875.py, line 1)

# Task  

## Banking loan system 

## Rule Based  Vs.  Machine Learning

 loan  input  >> salary ,threshold

 accept   40% * salary  > threshold = 3000

 Print  valid take the loan
 
 Accetpance >> print your valid loan  = salary * 0.4

 refuse   40% salary  < threshold 3000
 
 print you need add another source of income

In [58]:
def bank(salary):
    limit = salary * 0.4
    if limit > 3000:
        print('valid take loan')
        print(limit)
    else:
        print(" Refuse need another source of income")

In [59]:
bank(salary=5000)

 Refuse need another source of income

In [60]:
bank(salary=9000)

valid take loan
3600.0

As usual, you can find all the gory details about lists in the [documentation](https://docs.python.org/3.7/tutorial/datastructures.html#more-on-lists).